ul {
  list-style-type: none; /* Убирает маркеры у неупорядоченного списка (буллеты) */
  padding: 0; /* Может быть полезным для удаления отступов у списка */
  margin: 0; /* Может быть полезным для удаления отступов у списка */
}

.games-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 69px;
}