.location {
  width: 100%;
  border: 1px solid #000;
  padding: 21px 26px;
  background-color: white;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 69px;
  box-sizing:border-box;
}

.location__title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.location__subtitle {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 20px;
}