.main__title {
  font-weight: 600;
  color: var(--second-color);
  text-shadow: -1px -1px 0 rgba(20, 20, 20, 1), 1px -1px 0 rgba(20, 20, 20, 1),
    -1px 1px 0 rgba(20, 20, 20, 1), 1px 1px 0 rgba(20, 20, 20, 1);
  font-size: 39px;
  text-align: center;
  margin-top: 47px;
  margin-bottom: 69px;
}

.main__card-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 156px;
}
