*,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #11ace1;
  --second-color: rgba(255, 163, 190, 1);
}

body {
  /* background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color); */
  width: 100%;
  max-width: 360px;
  background-color: var(--main-color);
  background-image: url("../images/main-decorated.svg");
  font-family: "Jost", sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
}
