.rules {
  width: 312px;
  height: 453px;
  border: 1px solid #000;
  padding: 21px 26px;
  background-color: var(--second-color);
  border-radius: 25px;
  margin: auto;
  margin-bottom: 69px;
}

ul {
  list-style-type: none; /* Убираем стандартную маркировку */
}

li {
  font-size: 12px;
  line-height: 1.5; /* Задаем межстрочное состояние */
  position: relative; /* Устанавливаем позицию элемента */
  padding-left: 1.3em; /* Добавляем отступ слева для создания места под маркер */
}

li:before {
  content: "•"; /* Устанавливаем символ маркера (белый кружок) */
  color: #fff; /* Задаем цвет маркера (белый) */
  font-size: 2em; /* Устанавливаем размер маркера */
  position: absolute; /* Позиционируем маркер абсолютно относительно элемента li */
  left: -5px; /* Выравниваем маркер по левому краю элемента li */
  top: -7px;
}

.italic {
  font-style: italic;
}
